{{ $section := .Get "section" }}
{{ $dirvar := .Get "dirref" }}
{{ $basedir := $.Page.Params.Get $dirvar }}
{{ $code := readFile (printf "%s/%s" $basedir (.Get "file")) }}
{{ $lines := split $code "\n" }}
{{ $scratch := newScratch }}

{{ if (.Get "lang") }}
  {{ $scratch.Set "lang" (.Get "lang") }}
{{ else }}
  {{ $scratch.Set "lang" "scala" }}
{{ end }}

{{ $scratch.Set "hasSection" false }}
{{ if (.Get "section") }}
  {{ $scratch.Set "hasSection" true }}
{{ end }}

{{ if ($scratch.Get "hasSection") }}
  {{ $scratch.Set "collecting" false }}
  {{ $scratch.Set "pending" true }}
{{ else }}
  {{ $scratch.Set "collecting" true }}
  {{ $scratch.Set "pending" false }}
  {{ $scratch.Set "lineno" 1 }}
{{ end }}

{{ range $index, $line := $lines }}

  {{ if $scratch.Get "hasSection" }}
    {{ $scratch.Set "pattern" (printf "doctag<%s>" $section) }}
    {{ if $scratch.Get "collecting" }}
      {{ $scratch.Set "pattern" (printf "end:%s" ($scratch.Get "pattern")) }}
    {{ end }}
    {{ $scratch.Set "match" ((findRE ($scratch.Get "pattern") $line) | len) }}
  {{ else }}
    {{ $scratch.Set "match" 0 }}
  {{ end }}

  {{ if $scratch.Get "collecting" }}
    {{ if and (gt ($scratch.Get "match") 0) ($scratch.Get "hasSection") }}
      {{ $scratch.Set "collecting" false }}
      {{ $scratch.Set "pending" false }}
    {{ else }}
      {{ $scratch.Add "collected" ( slice $line ) }}
    {{ end }}
  {{ else }}
    {{ if and (gt ($scratch.Get "match") 0) ($scratch.Get "pending") }}
      {{ $scratch.Set "lineno" ($index | add 2) }}
      {{ $scratch.Set "collecting" true }}
    {{ end }}
  {{ end }}
{{ end }}

{{ if ($scratch.Get "collected") }}
  {{ $extract := delimit ($scratch.Get "collected") "\n" }}
  {{ (print "```" ($scratch.Get "lang") " {linenos=true,linenostart=" ($scratch.Get "lineno") "}\n" $extract "\n```\n") | markdownify }}
{{ else }}
  <blockquote class="book-hint warning">
    The code section from <code>{{ .Get "file" }}</code> {{ with $section }} with section <code>{{ . }}</code>{{ end }} could not be found.
  </blockquote>
{{ end }}
